[submodule "app/static/style/autostyle"]
	path = app/static/style/autostyle
	url = git@github.com:Sallenmoore/autostyle.git
[submodule "app/static/js/autojs"]
	path = app/static/js/autojs
	url = git@github.com:Sallenmoore/autojs.git
