##################################
#           PRODUCTION           #
##################################

##### Frameworks #####
autonomous-app >= 0.1.20

##### Configuration and Documentation #####

##### System #####

##### Database #####
redis 
rq
rq-dashboard

##### Frontend #####

##### Network #####

requests
gunicorn

##### Async ##### 


##### AI #####

##### Parsing #####

##### Security #####

##### Utility #####

##################################
#           DEVELOPMENT          #
##################################

pytest
pytest-cov
