##################################
#           PRODUCTION           #
##################################

##################################
#           PRODUCTION           #
##################################

##### Frameworks #####
dmtoolkit >= 0.0.12
autonomous-app >= 0.1.6

##### Configuration and Documentation #####


##### System #####


##### API #####


##### Database #####


##### Frontend #####


##### Network #####

requests
gunicorn

##### Security #####


##### Async ##### 
celery

##### AI #####


##### Parsing #####

dateparser
markdown

##### Utility #####

d20

##################################
#           DEVELOPMENT          #
##################################

pytest
pytest-cov
