//////////////////////////////////////////////
//                 Variables                //
//////////////////////////////////////////////
// List of variables
// - https://orbitcss.com/documentation/sass-variables
//////////////////////////////////////////////
//                 Styles                   //
//////////////////////////////////////////////

@import 'all';

// Custom Elements
:root
{
    --animated-graph-msg: " ";
}

#graph-container:before
{
    content: var(--animated-graph-msg);
    position: absolute;
    top: inherit;
    left: inherit;

    font-weight: 600;
    font-size: 3em;
    color: #ffffff; //$primary-text;
}